/*
* GTK 4 Colors
* Converted from Matugen template
*/

:root {
    --adw-accent-rgb: 154 212 162;
    --adw-accent-bg-rgb: 154 212 162;
    --adw-accent-fg-rgb: 0 57 23;

    --adw-window-bg-rgb: 16 21 16;
    --adw-window-fg-rgb: 223 228 220;

    --adw-headerbar-bg-rgb: 16 21 16;
    --adw-headerbar-fg-rgb: 223 228 220;

    --adw-popover-bg-rgb: 16 21 16;
    --adw-popover-fg-rgb: 223 228 220;

    --adw-view-bg-rgb: 16 21 16;
    --adw-view-fg-rgb: 223 228 220;

    --adw-card-bg-rgb: 16 21 16;
    --adw-card-fg-rgb: 223 228 220;

    --adw-sidebar-bg-rgb: 16 21 16;
    --adw-sidebar-fg-rgb: 223 228 220;
    --adw-sidebar-border-rgb: 16 21 16;
    --adw-sidebar-backdrop-rgb: 16 21 16;
}
